.gittu{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: overline;
    color: blueviolet;
    background-color: beige;
}
.blog{
    font-size: 15px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: blueviolet;
    color: #ffff;
    border: 10px solid #bbb;
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
}
.push{
    font-size: 30px;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: blueviolet;
    background-color:aqua;
}
li{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    /* text-decoration: underline; */
}